<div class="wrapper row2">
    <div id="container" class="clear">
	    <div id="about-us" class="clear">
		    <section id="about-intro" class="clear">
			    <h2 style="text-align:center">About Us</h2>
			    <img class="responsive" width="1320px" src="~/about-image/pexels-pixabay-355770.jpg" alt="">
			    <b class="centered">
				    <b>
					    We believe that in every person lives an adventurous spirit. A spirit that pushes us to seek our limits, because that is what makes us feel alive. Our mission is to deliver the right gear so that the limits of those limits can constantly increase and satisfy every hunger.
				    </b>
				    <b>
					    We believe one hundred percent in the brands we offer and import and test them personally. This way we can be sure that everything we offer our customers is the best and the most right for them.
				    </b>
				    <b>
					    We are the official importer for : Lib-Tech, GNU, Smith, Northwave, Drake.
				    </b>
				    <b>
					    For us it doesn't matter what you ride or what level you are at, the important thing is to do it from the heart and have fun, because that's the most important thing!
				    </b>
			    </b>
                
		    </section>
	    </div>
    </div>
</div>


<style>
    .responsive {
      width:100%;
      max-width: 1320px;
      height: auto
}
</style>
<style>
     .centered {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 80%;
         transform: translate(-50%, -50%);
     }
</style>