<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="about-us" class="clear">
            <section id="about-intro" class="clear">
                <h2 style="text-align:center">About Us</h2>
                <img class="responsive" width="1320px" src="~/about-image/pexels-pixabay-355770.jpg" alt="">
                <b class="centered">In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante. Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</b>
            </section>
        </div>
</div>


<style>
    .responsive {
      width:100%;
      max-width: 1320px;
      height: auto
}
</style>
<style>
     .centered {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 80%;
         transform: translate(-50%, -50%);
     }
</style>